.main {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
}

.question {
    justify-content: center;
}

.text {
    margin-left: 20rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7rem;
    width: 60rem;
    background-color: var(--white);
    border-radius: 1rem;
    border: 0.1rem solid;

    p {
        text-align: center;
        font-size: 1rem;
    }
}

.alternatives {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 17rem;

    button {
        background-color: var(--white);
        width: 40rem;
        text-align: center;
        margin-top: 2rem;
        height: 3rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        margin-left: 1;

        span {
            margin-left: 1rem;
            font-size: 1.1rem;
            padding-right: 0.4rem;
            margin-left: 1rem;
            border-right: 0.1rem solid var(--black);
            height: 2.8rem;
            display: flex;
            align-items: center;
            margin-right: 0.7rem;
        }
    }

    button:focus {
        background-color: var(--gray-100);
    }

}

.button {
    margin-top: 2rem;

    input {
        border: 0;
        padding: 0.8rem;
        border-radius: 0.5rem;
        background-color: var(--brown);
        width: 180px;
        cursor: pointer;
        color: var(--white);
    }

}

.avatarContainer {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    top: 1rem;
}

.avatar {
    max-width: 134px;
    max-height: 300px;
    width: 134px;
    margin-left: 3rem;
}

.imageSupDir {
    position: absolute;
    top: 9rem;
    right: 3rem;
}

.supDir {
    max-width: 130px;
    max-height: 130px;
    margin: 0;
}

.imageInfDir {
    position: absolute;
    bottom: 7rem;
    right: 3rem;
}

.infDir {
    max-width: 130px;
    max-height: 130px;
    margin: 0;
}

.imageInfEsq {
    position: absolute;
    bottom: 7rem;
    left: 3rem;
}

.infEsq {
    max-width: 130px;
    max-height: 130px;
    margin: 0;
}




.headerContainer {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-700);
    max-width: 100%;
}

.headerContent {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;

    img {
        cursor: pointer;
    }

    span {
        font-size: 1.5rem;
        padding: 0 0.5rem;
        display: inline-block;
        position: relative;
    }
}

.center {
    text-align: center;
    margin-right: 6rem;

    p {
        font-size: 1.2rem;
        margin-top: 0.5rem;
        text-align: center;
    }
}

.headerNav {
    height: 5rem;
    padding: 1rem 1rem;
    align-items: center;
    transition: all 0.3s ease;

    img {
        cursor: pointer;
    }

}


.dropdown {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    transition: all 0.3s ease;
    background-color: var(--gray-100);
    min-height: 10rem;
    width: 10rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 30px;
        border-width: 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent var(--gray-100);

    }

    button {
        margin-top: 1rem;
        align-items: center;
        text-align: center;
        border: 0;
        height: 2rem;
        border-radius: 0.2rem;
        background-color: var(--brown);
        width: 120px;
        cursor: pointer;
        color: var(--white);
    }

    & p,
    & a {
        margin: 0;
        text-decoration: none;
        display: block;
        color: var(--black);
        transition: background-color 0.3s ease;
        text-align: center;

        &:hover {
            background-color: var(--gray-200);
        }
    }
}

.headerNav:hover .dropdown {
    display: block;
}

.user {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    margin-left: 1.4rem;
    text-align: center;

    span {
        padding-left: 0.8rem;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
    }
}